.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-right: 20px;
}
.right-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-content {
  padding-left: -5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.track-image {
  height: 100px;
  width: 150px;
  margin-right: 50px;
  margin-left: -40px;
}
.duration {
  margin-right: 50px;
}
.delete-button {
  background-color: transparent;
  border: none;
  outline: none;
}
.genre {
  color: #3b82f6;
}
